<!DOCTYPE html>
<html lang="en">
  <h1>Enter in the name of a city to get weather data for today!</h1>
  <form action="/getcurrweather" method="GET">
    <label for="city">City</label>
    <input type="text" name="city">
    <input type="submit" value="Submit!">

  </form>

  <h1>Enter in the name of a city to get weather data for the next five days!</h1>
  <form action="/getforecast" method="GET">
    <label for="city">City</label>
    <input type="text" name="city">
    <input type="submit" value="Submit!">

  </form>

</html>